<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo Game!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container align-items-center">

        <div class="row">
            <div class="col-12">
                <h1>BattleShip!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="flexbox" id="players">P1: {{currentPlayer.email}}(You) VS. P2: {{currentAdversary.email}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div id="turn">
                <h4 v-if="gameView.gameState == 'WAIT_OPPONENT'">Wait, it´s Your Opponent´s Turn!</h4>
            </div>
        </div>
        <div class="row">
            <div id="turn1">
                <h4 v-if="gameView.gameState == 'PLACE_SALVOES'">Its your turn! place your Salvo</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="logout" v-on:click="logout()">Log Out</button>
                <button class="logout" v-on:click="mainMenu()">Main menu</button>
                <button class="logout" v-if="shipLocations < 5" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Instructions
                </button>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="instructions">
                    <h3>How To Place Ships</h3>
                    <p>To place the ships, you must click on top of the desired type and then click on the grid
                        the desired
                        location, the preview on the grid will make it easier for you to see how it will look
                    </p>
                    <h5>Press the Spacebar to toggle the orientation of the ships while placing them</h5>
                    <p>in case you want to change te posittions of your ships, click on the restart button</p>
                    <h5>Press "Place Ships" to confirm your posittions</h5>
                    <p>This cannot be undone</p>

                    <h4>Placing salvoes</h4>
                    <p>After all the ships are placed comes salvo firing!</p>
                    <p>Each turn you will have to fire 5 shots to your adversary´s ships</p>
                    <p>You have to click on the right grid to place your 5 salvoes and then click FIRE! to confirm the shots</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <table>
                    <tr>
                        <td id="empty"></td>
                        <th v-for="column in columns">{{column}}</th>
                    </tr>
                    <tr v-for="row in rows">
                        <th>{{row}}</th>
                        <td v-for="column in columns" v-bind:id="row + column" v-on:click="placed(row, column)"
                            @mouseover="hover(row,column)" @mouseout="out(row,column)"></td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <td id="empty"></td>
                        <th v-for="column in columns">{{column}}</th>
                    </tr>
                    <tr v-for="row in rows2">
                        <th>{{row}}</th>
                        <td v-for="column in columns" v-bind:id="row + column" v-on:click="setSalvoes(row, column)"></td>
                    </tr>
                </table>

            </div>
        </div>
        <div v-if="nships < 5">
            <div class="row" id="ships">
                <div class="col">
                    <p class="btn btn-primary" id="Destroyer" v-on:click="setShipType('Destroyer', 3)">Destroyer</p>
                </div>
                <div class="col">
                    <p class="btn btn-primary" id="Carrier" v-on:click="setShipType('Carrier', 5)">Carrier</p>
                </div>
                <div class="col">
                    <p class="btn btn-primary" id="Battleship" v-on:click="setShipType('Battleship', 4)">Battleship</p>
                </div>
                <div class="col">
                    <p class="btn btn-primary" id="Patrol" v-on:click="setShipType('Patrol', 2)">Patrol</p>
                </div>
                <div class="col">
                    <p class="btn btn-primary" id="Submarine" v-on:click="setShipType('Submarine', 3)">Submarine</p>
                </div>
            </div>

            <p class="btn btn-primary btn-lg btn-block" v-on:click="toggleOrientation">{{orientacion}}</p>

        </div>
        <button class="btn btn-danger btn-lg btn-block" id="reset" v-if="shipLocations < 5" v-on:click="restart()">reset</button>
        <button class="btn btn-success btn-lg btn-block" v-if="json.length == 5" v-on:click="createShips()">place Ships</button>
        <button class="btn btn-danger btn-lg btn-block" id="reset" v-if="nsalvos >= 5 && gameView.ships != null && gameView.ships.length == 5 && currentAdversary.email != null"  v-on:click="createSalvoes()">FIRE!</button>
        <button class="btn btn-danger btn-lg btn-block" id="fire" v-if="nsalvos < 5 && gameView.ships != null && gameView.ships.length == 5 ">FIRE!</button>
        



    </div>


    <script src="js/game.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>

</html>