#app {
    text-align: center;
}

.container {
    font-family: 'Press Start 2P', cursive;
}


table,
td,
th {
    border: 1px solid black;
}

td {
    outline: 1px solid;
}


td,
th {
    width: 50px;
    height: 50px;
}

#empty {
    background-color: rgb(180, 180, 180);
}

.ship {
    background-color: blue;
}

.salvo {
    outline: 3px solid red;
    background-image: url('img/fire.gif');
    background-size: contain;
    color: rgb(0, 39, 2);
}

.salvoAdversary {
    outline: 3px solid red;
    color: rgb(0, 44, 17);
}