body {
    background-image: url('../img/rain.webp'); 
    background-size: cover;
}

#app {
    text-align: center;
}

h4 {
    color: white;
}

.container {
    font-family: 'Press Start 2P', cursive;
}


table,
td,
th {
    border: 2px solid black;
}

td {
    outline: 2px solid;
}


td,
th {
    width: 50px;
    height: 50px;
}

th{
    color: red;
}

#empty {
    background-color: rgb(180, 180, 180);
}




.Carrier1 { 
    background-image: url('../img/carrier1.png');
    background-size: contain;
    background-color: red;
} 
.Carrier2 {
    background-image: url('../img/carrier2.png');
    background-size: contain;
    background-color: red;
}
.Carrier3 {
    background-image: url('../img/carrier3.png');
    background-size: contain;
    background-color: red;
}
.Carrier4 {
    background-image: url('../img/carrier4.png');
    background-size: contain;
    background-color: red;
}
.Carrier5 {
    background-image: url('../img/carrier5.png');
    background-size: contain;
    background-color: red;
}



.Destroyer1 {
    background-image: url('../img/destroyer1.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}
.Destroyer2 {
    background-image: url('../img/destroyer2.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}
.Destroyer3 {
    background-image: url('../img/destroyer4.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}
/* .Destroyer4 {
    background-image: url('../img/destroyer4.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
} */




.Patrol1 {
    background-image: url('../img/patrol1.png'); 
    background-size: cover;  
    /* background-color: rgb(255, 238, 0); */
}
.Patrol2 {
    background-image: url("../img/patrol2.png"); 
    background-size: cover;  
    /* background-color: rgb(255, 238, 0); */
}




.Battleship1 {
    background-image: url('../img/battle1.png');
    background-size: contain;
    background-color: rgb(255, 94, 0);
}
.Battleship2 {
    background-image: url('../img/battle2.png');
    background-size: contain;
    background-color: rgb(255, 94, 0);
}
.Battleship3 {
    background-image: url('../img/battle3.png');
    background-size: contain;
    background-color: rgb(255, 94, 0);
}
.Battleship4 {
    background-image: url('../img/battle4.png');
    background-size: contain;
    background-color: rgb(255, 94, 0);
}



.Submarine1 {
    background-image: url('../img/submarino1.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}
.Submarine2{
    background-image: url('../img/submarino2.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}
.Submarine3{
    background-image: url('../img/submarino3.png');
    background-size: contain;
    background-color: rgb(255, 153, 0);
}







.salvo {
    outline: 3px solid red;
    background-image: url('../img/fire.gif');
    background-size: contain;
    color: rgb(255, 255, 255);
}

.salvoAdversary {
    outline: 5px solid red;
    color: rgb(255, 255, 255);
}
.logout{
    float: right;
    margin-bottom: 10px;
    margin-right: 3px;
}

#ships{
    margin-top: 10px;
}
.pre-selected{
    background-color: orange;
    opacity: 40%;
}
.pressed{
    opacity: 40%;
    background: gray;
}

/* .instructions{
    background-color: ghostwhite;
    opacity: 40%;
    font-size: 10px;
    width: 300px;
    position: absolute;
    top: 20px;
    left: 10px;
} */

.flexbox{
    width: max-content;
}
.selected{
    opacity: 60%;
}
#reset{
    margin-top: 10px;
}