#iniciarSesion {
    float: right;
    margin-top: 10px;
}

#user_icon {
    height: auto;
    margin: auto;
    width: 90px;
    padding: 10px;
}
.invisible{
    display: none;
}

.visibe{
    display: block;
}
#logout{
    float: right;
}
#currentP{
    font-weight: bold;
    font-size: 30px;
}
body{
    background-image: url("../img/landscape-sky-boat-nature.jpg");
    background-size: cover;
}
.container{
background-color: white;
opacity: 85%;
border-radius: 5px;
}
li.nostyle {
    list-style-type: none;
}
#title{
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}